In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('TimeSeries_Data.csv')
data.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [8]:
# Let's check the shape of the data

data.shape

(23674, 7)

In [9]:
#SO here Date column looks like a date time series but it's actually not so just to be make sure let's do some checks.

In [13]:
# Let's try to grab 1st row of Date column

data.loc[0,'Date']

'2020-03-13 08-PM'

In [14]:
# Now lets run the date time method to check the day on this date-
data.loc[0,'Date'].day_name()

AttributeError: 'str' object has no attribute 'day_name'

In [15]:
# SO it's confirmed that it;s not a type of date time

In [17]:
# Let's try to convert to date and time-
data['Date'] = pd.to_datetime(data['Date'])

ValueError: ('Unknown string format:', '2020-03-13 08-PM')

In [18]:
# So here its a valid error, because our date column data are in diff format, let's try to give a proper format-

data['Date'] = pd.to_datetime(data['Date'], format= '%Y-%m-%d %I-%p')

In [19]:
type(data.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [20]:
# Now again check the day for 1st date-

data.loc[0,'Date'].day_name()

'Friday'

In [23]:
# We can paas the arguments for date conversion at the time of csv load file, 

dateParser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %I-%p')

new_data = pd.read_csv('TimeSeries_Data.csv', parse_dates=['Date'], date_parser= dateParser)

/Users/mukeshyadav/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [25]:
type(new_data.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [26]:
# So in previous I caluclated the day name for a particular date, but what if I want to know all the days for entire series

In [27]:
new_data['Date'].dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [28]:
# Now let's create a column with these days.

new_data['DayOfWeek'] = new_data['Date'].dt.day_name()

In [29]:
new_data

,Date,Symbol,Open,High,Low,Close,Volume,DayOfWeek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday